* {
    border: 1px solid blue;
}

html {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #f5f0e7;
    background-image: url(../images/leaf_pattern.png);
}

/*   HEADER   */
.header-mobile {
    display: none;
}

.title-bar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    max-width: 1024px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: -64px;
    font-size: 1.25rem;
}

.logo-box {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.logo-box a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #005960;
}

.logo-box .acel {
    font-weight: 700;
    font-size: 1.25rem;
}

.phone {
    color: #005960;
    padding-right: 24px;
}

.icon {
    display: flex;
    height: auto;
    width: auto;
    padding-right: 10px;
}


/*   NAV BAR   */
.header-desktop {
    margin-top: 64px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu-desktop {
    display: block;
    position: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

nav li a {
    text-decoration: none;
    color: #005960;
    padding: 0 2rem;
}

nav li a:hover {
    color: #455e87;
    font-weight: 700;
}

/*  JUMBOTRON  */
.jumbotron {
    max-width: 1024px;
    min-width: 500px;
    background-image: url(../images/jumbotron.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
}

.acel-logo {
    display: block;
    margin: 20px auto 0 auto;
    width: 30%;
    min-width: 100px;
}

.subhead {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    text-shadow: 1px 1px 15px #001a00;
}

.jumbotron h2 {
    font-weight: 100; 
    margin-top: 0.5rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
    padding-bottom: 7rem;
}

/*   ABOUT US SECTION   */
.about-container {
    display: inline-flex;
    width: 100%;
    height: auto;
    align-items: top;
    padding-top: 64px;
}

.about-text {
    width: 100%;
    padding: 0 50px 0 100px;
    color: #808080;
    line-height: 1.5;
}

.section-title {
    font-weight: 500;
    font-size: 1.5rem;
    color: #005960;
}

.about-crew img {
    width: 90%;
}

/*   SERVICES SECTION   */
.services-container {
    display: block;
    width: 100%;
    padding-bottom: 2rem;
}

.services-img img {
    display: flex;
    padding-top: 5rem;
    width: 100%;
    height: auto;
}

.services-content {
    display: block;
    width: 80%;
    padding: 0 50px 0 100px;
    margin-top: 2rem;
    color: #808080;
}

.section-title {
    display: block;
}

.services-text {
    display: flex;
    padding-top: 1rem;
}

.services-list {
    display: flex;
    font-size: 1rem;
    line-height: 2.5;
    width: 100%;
    padding: 0 3rem 0 2rem;
}

.services-para {
    display: flex;
    line-height: 1.5;
}