* {
    border: 1px solid blue;
}

html {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    max-width: 1024px;
    margin: 0 auto;
}

/*  HEADER AND NAV  */
.header-mobile {
    display: none;
}

.header-desktop {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu-desktop {
    display: block;
    position: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #005960;
    padding: 0 2rem;
}

nav li a:hover {
    color: #455e87;
    font-weight: 700;
}

/*  JUMBOTRON  */
.jumbotron {
    display: block;
    max-width: 1024px;
    height: 564px;
    min-width: 500px;
    background-image: url(../images/commercial_11a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}

.acel-logo {
    display: block;
    margin: 20px auto 0 auto;
    width: 30%;
    min-width: 100px;
}

.subhead {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
}

.jumbotron h2 {
    font-weight: 100; 
    margin-top: 0.5rem;
    font-size: 1.75rem;
    letter-spacing: 1px;
}

/*   ABOUT US SECTION   */
.about-section {
    display: inline-flex;
    width: 100%;
    height: auto;
    max-width: 1024px;
    align-items: center;
    padding-top: 5rem;
    justify-content: space-between;
}

.about-text {
    width: 100%;
    padding: 0 50px 0 100px;
    color: #808080;
    line-height: 1.5;
}

.about-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.about-crew img {
    width: 90%;
}